<h1>The MEAN Journey</h1>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            Development Stack
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Database</dt>
                <dd>MongoDB</dd>
                <dt>Backend Routing</dt>
                <dd>Express.js</dd>
                <dt>Frontend</dt>
                <dd>AngularJS</dd>
                <dt>Backend</dt>
                <dd>Node.js</dd>
                <dt>Frontend</dt>
                <dd>AngularJS</dd>
                <dt>App monitoring</dt>
                <dd>Nodemon</dd>
                <dt>IDE</dt>
                <dd>WebStorm</dd>
                <dt>Source Code</dt>
                <dd><a href="https://github.com/krishprasadar/MEAN-App">Github</a></dd>
                <dt>App hosting</dt>
                <dd><a href="https://www.heroku.com/">Heroku</a></dd>
                <dt>MongoDB Hosting</dt>
                <dd><a href="https://mlab.com/">mlab</a></dd>
            </dl>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Features of the single page Todo App
        </div>
        <div class="panel-body">
            <ul>
                <li>
                    Add Todos.
                </li>
                <li>
                    Delete Todos.
                </li>
                <li>
                    Mark Todos as completed.
                </li>
                <li>
                    Displaying number of todos in each section (Todos/Completed).
                </li>
                <li>
                    Identifying duplicate entries.
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            My Journey
        </div>
        <div class="panel-body">
            When I started to make this application, I had two goals in mind.

            <ul>
                <li>
                    A refresher for me in JavaScript, HTML and CSS.
                </li>
                <li>
                    Learn Node.js although I have worked on Meteor.js which has Node.js running at it's core.
                </li>
            </ul>

            <p>I assumed that setting up a <b><i>MEAN (Mongo,Express,Angular,Node)</i></b> stack was relatively easily
                but that turned
                out
                to be completely wrong. In fact, setting up this stack took quite some time. With Meteor, I could do it
                in
                2 minutes. Yes, development was that fast. :)</p>

            <p>
                Challenges that I faced during this setup were,
            </p>

            <ul>
                <li>
                    Setting up the required node modules.
                </li>
                <li>
                    Exploring template engines like EJS, Jade and Angular.
                </li>
                <li>
                    Understanding the intricacies of Express.js and render the first frontend page from the Node.js
                    backend.
                </li>
                <li>
                    Forming HTTP requests from AngularJS to Express.js APIs retrieve and update documents in mongo
                    database.
                </li>
                <li>
                    Making both Express.js routing and Angular routing work together.
                </li>
                <li>
                    Handling template arrays in AngularJS.
                </li>
                <li>
                    Configuring hosting to start with Nodemon for the Node.js app on Heroku.
                </li>
            </ul>

            <p>
                Considering the minimal knowledge I had in Angular and no experience in Node.js, Express.js, mlab
                and Heroku, I think the outcome is prety decent. :)
            </p>
        </div>

    </div>
</div>